html {
  box-sizing: border-box;
  font-family: "PT Sans", "PT Serif";
  line-height: 1.5;
  background-color: #c9b5ab;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: bold;
}

figcaption {
  font-family: "PT Serif";
  font-style: italic;
  font-size: .8rem;
  text-decoration: none;
}

nav ol li {
  font-family: "PT Sans";
  font-weight: bold;
  color: #8f2440;
  font-size: 1.125rem;
  list-style-type: none;
}

a {
  text-decoration: underline;
  font-family: "PT Sans";
  font-weight: bold;
  color: #8f2440;
  font-size:1.125rem
}

  a:hover {
  color: #222;
  background-color: #3f1622;
  border-color:#8f2440;
  text-decoration: underline;
}

h2 {color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: bold;}

main {
  color: #222;
  }

blockquote p {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 1.5rem;
  }

 ol li .types {
   list-style-type: lower-alpha;
 }
