html {
  box-sizing: border-box;
  font-family: "PT Sans", "PT Serif";
  line-height: 1.5;
  background-color: #c9b5ab;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: bold;
}

figcaption {
  font-family: "PT Serif";
  font-style: italic;
  font-size: .8rem;
  text-decoration: none;
}

nav ol li {
  font-family: "PT Sans";
  font-weight: bold;
  color: #8f2440;
  font-size: 1.125rem;
  list-style-type: none;
}

nav ol li a {
  font-family: "PT Sans";
  font-weight: bold;
  color: #8f2440;
  font-size: 1.125rem;
  list-style-type: none;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  color: #222;
}

blockquote p {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 1.5rem;
}

.types {
  list-style-type: lower-alpha;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

aside ul li {
  font-size: .8rem;
}

footer {
  color: #8f2440;
  text-decoration: none;
}

.serving {
  font-style: italic;
  font-family: "PT Serif";
}
